In [13]:
import pandas as pd
df = pd.read_csv('Daily_Global_Stock_Market_Indicators (1).csv', index_col=0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18270 entries, 2020-01-01 to 2024-12-31
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Index_Name            18270 non-null  object
 1   Country               18270 non-null  object
 2   Open                  18270 non-null  float64
 3   High                  18270 non-null  float64
 4   Low                   18270 non-null  float64
 5   Close                 18270 non-null  float64
 6   Volume                18270 non-null  int64
 7   Daily_Change_Percent  18270 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.3+ MB

In [15]:
df.head()

,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent
Date,,,,,,,,
2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30

In [16]:
df.head()

,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent
Date,,,,,,,,
2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30